<p id="notice"><%= notice %></p>

<h1>Listing Activities</h1>

    <% @activities.each do |activity| %>
      <div class="column">
        <img src="http://lorempixel.com/150/150/people/<%= rand 1..10 %>">
        <%= link_to activity.nombre, activity %>
      </div>  
    <% end %>



